<div class="p-4">
    <div class="col-md-12">
        <div class="">
            <h2 class="title text-center">Department Details</h2>
            <div class="register-section">
                <form class="w-100 row" #f="ngForm"  (ngSubmit)="submitForm(f)" autocomplete="off">
                    <div class="form-group col-md-3">
                        <label class="input-label">Department Name *</label>
                        <input type="text" class="form-control" placeholder="Enter Department Name"
                        name="departmentName" id="departmentName"
                        [(ngModel)]="departmentInfo.dept_name" #departmentName="ngModel"  maxlength="50"
                        [ngClass]="{ 'is-invalid': f.submitted && departmentName.invalid }" required>
                        <div *ngIf="f.submitted && departmentName.invalid" class="invalid-feedback">
                            <div *ngIf="departmentName.errors?.['required']">Department Name is required</div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="input-label">Building Name *</label>
                        <input type="text" class="form-control" placeholder="Enter Building name"
                        name="buildingName" id="buildingName"
                        [(ngModel)]="departmentInfo.building" #buildingName="ngModel"  maxlength="50"
                        [ngClass]="{ 'is-invalid': f.submitted && buildingName.invalid }" required>
                        <div *ngIf="f.submitted && buildingName.invalid" class="invalid-feedback">
                            <div *ngIf="buildingName.errors?.['required']">Building Name is required</div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="input-label">Budget *</label>
                        <input type="text" class="form-control" placeholder="Enter budget"
                        name="budget" id="budget"
                        [(ngModel)]="departmentInfo.budget" #budget="ngModel"  maxlength="50"
                        [ngClass]="{ 'is-invalid': f.submitted && budget.invalid }" required>
                        <div *ngIf="f.submitted && budget.invalid" class="invalid-feedback">
                            <div *ngIf="budget.errors?.['required']">Budget is required</div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="input-label">Courses *</label>
                        <input type="text" class="form-control" placeholder="Enter Courses"
                        name="courses" id="courses"
                        [(ngModel)]="departmentInfo.courses" #courses="ngModel"  maxlength="50"
                        [ngClass]="{ 'is-invalid': f.submitted && courses.invalid }" required>
                        <div *ngIf="f.submitted && courses.invalid" class="invalid-feedback">
                            <div *ngIf="courses.errors?.['required']"> Courses is required</div>
                        </div>
                    </div>
                    <div class="text-center w-100 mb-4 mt-3">
                        <button type="submit" class="primary-button">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>