<div class="p-5 d-flex ">
    <div class="pr-2"><button class="btn btn-primary" routerLink="student-form">Student</button></div>
    <div class="pr-2"><button class="btn btn-primary" routerLink="department">Department</button></div>
    <div class="pr-2"><button class="btn btn-primary" routerLink="instructor">Instructor</button></div>
    <div class="pr-2"><button class="btn btn-primary" routerLink="advisor">Advisor</button></div>
    <div class="pr-2"><button class="btn btn-primary" routerLink="dashboard">Dashboard</button></div>

</div>

<router-outlet></router-outlet>