<div class="p-4">
    <div class="col-md-12">
        <div class="">
            <h2 class="title text-center">Instructor Details</h2>
            <div class="register-section">
                <form class="w-100 row" #f="ngForm"  (ngSubmit)="submitForm(f)" autocomplete="off">
                    <div class="form-group col-md-3">
                        <label class="input-label">Instructor Name *</label>
                        <input type="text" class="form-control" placeholder="Enter Name"
                        name="instructorName" id="instructorName"
                        [(ngModel)]="instructorInfo.instructor_name" #instructorName="ngModel"  maxlength="50"
                        [ngClass]="{ 'is-invalid': f.submitted && instructorName.invalid }" required>
                        <div *ngIf="f.submitted && instructorName.invalid" class="invalid-feedback">
                            <div *ngIf="instructorName.errors?.['required']">Instructor Name is required</div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="input-label">Department *</label>
                        <input type="text" class="form-control" placeholder="Enter Department Name"
                        name="department" id="department"
                        [(ngModel)]="instructorInfo.dept_name" #department="ngModel"  maxlength="50"
                        [ngClass]="{ 'is-invalid': f.submitted && department.invalid }" required>
                        <div *ngIf="f.submitted && department.invalid" class="invalid-feedback">
                            <div *ngIf="department.errors?.['required']">Building Name is required</div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="input-label">Salary *</label>
                        <input type="text" class="form-control" placeholder="Enter Salary"
                        name="salary" id="salary"
                        [(ngModel)]="instructorInfo.salary" #salary="ngModel"  maxlength="50"
                        [ngClass]="{ 'is-invalid': f.submitted && salary.invalid }" required>
                        <div *ngIf="f.submitted && salary.invalid" class="invalid-feedback">
                            <div *ngIf="salary.errors?.['required']">Salary is required</div>
                        </div>
                    </div> 
                    <div class="text-center w-100 mb-4 mt-3">
                        <button type="submit" class="primary-button">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>